@media (max-width: 500px) {
  #cursor {
    display: none;
  }

  #nav {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 2.3vh 5vw;
  }

  #nav ion-icon {
    font-size: 1.4rem;
  }

  /* header  */

  .bottom-nav-content-box {
    padding: 1rem 0.5rem;
  }

  .bottom-nav-content-box a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 1rem 0.3rem;
  }

  /* header end  */

  #intro-text {
    margin-top: 25vh;
    margin-left: 10vw;
    font-size: 2.2rem;
    padding-right: 2rem;
  }

  #intro-text::before {
    width: 9rem;
    height: 9rem;
    top: 0;
  }

  .intro-text-wrapper a {
    margin-left: 10vw;
  }

  #footer::before {
    width: 7rem;
    height: 9rem;
    right: -2rem;
    bottom: 2rem;
  }

  #footer {
    margin-top: 5rem;
    padding: 0.5rem 2rem;
  }

  #projects > p {
    width: 90%;
    padding: 6rem 0 0 10vw;
    font-size: 0.8rem;
    color: #ffffffbe;
  }

  #project-content {
    padding-top: 7rem;
  }

  #project-content h1 {
    font-size: 1.7rem;
    padding: 0 0 0 10vw;
  }

  #project-content p {
    margin-bottom: 4rem;
    padding: 5px 0 0 10vw;
    font-size: 0.7rem;
    color: #a79696be;
  }

  .project-card-container{
    display: flex;
    width: 100%;
    padding: 0 0 0 12vw;
    overflow: auto;
    align-items: center;
    scroll-snap-type: x mandatory;
  }

  #project-content .project-card {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    align-items: center;
    background: linear-gradient(
      180deg,
      rgba(35, 37, 49, 0.5),
      rgba(15, 15, 24, 0.5)
    );
    border: solid 1px var(--border-color);
    border-radius: 2rem;
    padding: 2rem 2.5rem;
    margin-top: 0;
    margin-right: 1.5rem;
    width: 90%;
  }

  #project-content .project-card:last-child{
    margin-right: 12vw;
  }
  .project-card.animateup{
    opacity: 1;
  transform: translateY(0px);
  }

  .project-card.animateup.small{
    opacity: 1;
  transform: translateY(0px);
  }

  .project-card .project-card-left h3 {
    display: none;
  }

  .project-card .project-card-middle {
    position: relative;
    width: 12rem;
    height: 15rem;
    border-radius: 1rem;
  }

  .project-card .project-card-right {
    padding-left: 0;
    height: 100%;
  }

  .project-card .project-card-right h2 {
    white-space: nowrap;
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }

  .project-card .project-card-right a {
    margin-top: 1.5rem;
    font-size: 0.7rem;
  }

  #skills-wrapper {
    padding-top: 8rem;
  }

  #skills-wrapper h1 {
    font-size: 1.7rem;
    padding: 0 0 0 10vw;
  }

  #skills-wrapper p {
    padding: 5px 0 0 10vw;
    font-size: 0.7rem;
    color: #ffffffbe;
  }

  #skills-wrapper .skills {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 3rem auto 1rem auto;
    text-transform: none;
  }

  .skill-left-card {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr;
    gap: 0 0rem;
    border: solid var(--border-color) 1px;
    border-radius: 1.5rem;
    background: linear-gradient(
      180deg,
      rgba(35, 37, 49, 0.5),
      rgba(15, 15, 24, 0.5)
    );
    padding: 1rem;
    margin: 1rem 0;
  }

  .skill-right-card {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
    gap: 0 0rem;
    border: solid var(--border-color) 1px;
    border-radius: 1.5rem;
    background: linear-gradient(
      180deg,
      rgba(35, 37, 49, 0.5),
      rgba(15, 15, 24, 0.5)
    );
    padding: 1rem;
    margin: 3rem 0 0 0;
  }

  .skill-card-text {
    padding: 1rem 0 1.5rem 0;
    grid-column: 1/3;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
    border-bottom: solid var(--border-color) 1px;
  }

  .skills .skill {
    display: flex;
    padding: 0.9rem 0.2rem;
    margin: 0rem;
  }

  .skills .skill-inner-text {
    gap: 0.5rem 0;
    border-radius: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
  }

  .skill-inner-text h3 {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: none;
  }

  .skill-inner-text span {
    text-transform: none;
    font-size: 0.6rem;
    opacity: 0.5;
  }

  .skill .skill-icon {
    align-self: flex-start;
    width: 2rem;
  }

  #bottom-bar{
    margin-top: 3rem;
  }

  #bottom-bar h6 {
    margin-top: 0;
    font-size: 2rem;
  }

  #bottom-bar .contact-card {
    width: 75%;
  }

  .contact-card img {
    width: 65%;
    grid-column: 1/3;
    justify-self: center;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    grid-column: 1/3;
    height: 100%;
  }

  .contact-details h1 {
    font-weight: normal;
    width: 100%;
    font-size: 1.3rem;
  }

  .contact-details p {
    font-size: 0.9rem;
    font-weight: lighter;
    margin-top: 0.8rem;
    padding-bottom: 2rem;
  }

  .contact-details p a {
    margin: 0;
    text-decoration: none;
  }

  .contact-details a {
    text-decoration: none;
    margin: 0 0.5rem;
  }

  .contact-details a:hover {
    cursor: pointer;
  }
}
