body{

    margin: 0px;
    background-color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar{
    text-align: justify;
    background-color: #2e9696;
    margin: 0;
    width: 100%;
    padding: 4px;
    padding-left: 10px;
    position: fixed;
    z-index: 1;
    
}


h1{
   font-size: 4rem;
   margin-bottom: 0px;
   /* margin: 0 auto 0 auto; */
   font-family: cursive;
   color: #2e9696;
}
h2{
    font-size: 2rem;
     /* margin: 0 auto 0 auto; */
    color: #2e9696;
 }

h3{
    font-size: 1.5rem;
    /* margin: 0 auto 0 auto; */
    color: #2e9696;
 }

p{
    font-size: 1.2rem;
    color: #2e9696;
}

.top-container{
    padding: relative;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 220px;
    background-color: #c8fbf2;
    display: block;
    
}
.middle-container{
    margin: 0px;
    padding: 10px;
    background-color: #eaf6f6;
    padding-bottom: 100px;
}

.profile{
    padding-top: 50px;
    padding-bottom: 20px;
}

.profilepic{
    max-width: 200px;
    width: 40%;
    margin: 0 auto 0 auto;
    padding-bottom: 10px;
}
.description{
    color: black;
}

.skills{
    padding-top: 50px;
    padding-bottom: 20px;
}

.skill-row{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.development{
    width: 50%; 
    max-width: 200px;
    float: left;
    margin-right: 20px;
   
    
}

.skill-description{
    display: inline-block;
    
}

.design-develop{
    font-size: 1.5rem;
    text-align: left;
    color: #2e9696;
}
.description-develop{
    text-align: left;
    color: black;
}
.reverse-engineering{
    max-width: 200px;
    width: 50%;
    float: right;
    margin-left: 20px;
    
}
.reverse-engineer{
    font-size: 1.5rem;
    text-align: right;
    color: #2e9696;
}
.description-reverse{
    text-align: right;
    color: black;
}
.contact{
    padding-top: 50px;
    padding-bottom: 20px;
}
.btn{
    display: inline-block;
    background-color: #2e9696;
    margin-top: 10px;
    text-decoration: solid;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
}
.bottom-container{
    margin: 0px;
    padding: 10px;
    height: 100px;
    background-color: #c8fbf2;
}

hr{
   height: 0px;
   width: 5%;
   border-style: none;
   border-top-style: dotted;
   color: darkslategray;
   border-width: 5px;
   padding-top: 10px;
   
}

span{
    text-decoration: underline;
}

.cloud1{
    position: absolute;
    left: 20%;
    top: 40%;
    
    
}
.cloud2{
    position: absolute;
    right: 20%;
    top: 20%;
}

.cloud3{
    position: absolute;
    left: 40%;
    top: 70%;
    
}
.cloud4{
    position: absolute;
    right: 20%;
    top: 65%;
}

.mountain{
   
    padding-top: 150px;
    max-width: 100%;
    margin-bottom: 0px;
}

.link{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    color: #2e9696;
    text-decoration: solid;
}


.footer-paragraph{
    font-size: 0.8rem;
}



.nav-description{
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    padding: 0;
    color: white;
}

