@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --main-background-color: #10101a;
  --border-color: #2a2b37;
  --nav-bg-color: rgba(42, 43, 56, 0.5);

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100vw;
  background-color: var(--main-background-color);
  -webkit-user-select: none;
  user-select: none;
}


/* animation classes start*/

.animateup{
  opacity: 0;
  transform: translateY(120px);
  /* filter: blur(3px); */
  transition: all 1s ease;
}

.small{
  transform: translateY(80px);
}

.loader.disappear {
  display: none;
}

.animate-visible{
  transform: translateY(0px);
  opacity: 1;
  /* animation: blurup .8s linear; */
  /* filter: blur(0px); */

}

@keyframes blurup {
  0%{
    filter: blur(3px);
  }
  100%{
    filter: blur(0px);
  }
}
/* animation classes end  */


/* rotatory cursor design start */

#cursor {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px #ffffff44;
  z-index: 9;
  transition: ease-out 0.2s;
  animation: cursoranime 10s linear infinite;
}

#cursor #dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

#cursor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

#cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

/* rotatory cursor design end  */

/* loader design start  */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #10101a;
  z-index: 99;
}

.loader .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: solid white 1px;
  border-radius: 50%;
  transition: ease-out 0.2s;
  animation: cursoranime 2s linear infinite;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

.spinner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

/* loader design end  */

/* all keyframes start  */


@keyframes cursoranime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* all keyframes end  */

/* main wrapper */

#main {
  position: relative;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

/* main wrapper end  */

/* header  */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 2%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border: 2px solid var(--border-color);
  border-radius: 1.3rem;
  background-color: var(--nav-bg-color);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(15px);
  z-index: 5;
}

#nav h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
  font-weight: 200;
  transition: 0.5s;
  cursor: pointer;
}

#nav h1:hover {
  scale: 1.2;
}

#nav ion-icon {
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.5s;
}

#nav ion-icon:hover {
  scale: 1.2;
}

.menuinvisible {
  display: none;
}

.bottom-nav {
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  top: 50vh;
  left: 0;
  transform: translateY(-50%);
  background-color: transparent;
  width: 0vw;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.visible {
  width: 100vw;
}

.bottom-nav-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.3rem;
  text-align: center;
  border: solid 2px var(--border-color);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: 0px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: translateX(-100%);
  transition: 1s;
  background-color: var(--nav-bg-color);
}

.bottom-nav-content-box a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 1rem 0;
}

.bottom-nav-visible {
  transform: translateX(0px);
}

.arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid var(--border-color) 2px;
  background-color: var(--nav-bg-color);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  opacity: 0;
  transition: all 0.5s;
  z-index: 5;
}

.arrow ion-icon{
  font-size: 1rem;
}



@media (max-width: 1200px) {
  .arrow{
    right: 2rem;
  }
}

@media (max-width: 900px) {
  .arrow{
    right: 2rem;
    bottom: 3rem;
  }
}
/* header end  */

/* intro section  */

#intro {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

/* hero section  */

.intro-text-wrapper {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

#intro-text {
  margin-top: 32vh;
  margin-left: 17vw;
  display: block;
  font-size: 3.5rem;
  font-weight: bolder;
}

#intro-text::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../assets/hand-left.webp);
  width: 15rem;
  height: 15rem;
  top: 1%;
  left: 0;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

#intro-text #hilight-text {
  background: linear-gradient(
    -45deg,
    rgb(75, 210, 255),
    rgb(255, 98, 255),
    rgb(111, 219, 255),
    rgb(255, 119, 255)
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0 50%;
  }
}

.intro-text-wrapper a {
  display: inline-block;
  margin-top: 5rem;
  margin-left: 17vw;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.intro-text-wrapper a::after {
  display: block;
  content: "";
  width: 70%;
  height: 1px;
  background-color: white;
  transition: 0.5s;
}

.intro-text-wrapper a:hover::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
}

/* hero section end  */

/* footer section  */

#footer {
  position: relative;
  padding: 0.5rem 10rem;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 3rem;
  /* margin-bottom: 5rem; */
}

#footer::before {
  content: "";
  position: absolute;
  width: 17rem;
  height: 17rem;
  right: -8rem;
  bottom: 0;
  background-image: url(../assets/hand-right.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

#footer ion-icon {
  font-size: 1.2rem;
  padding: 0.5rem;
}

#footer a:hover ion-icon {
  scale: 1.2;
}

/* intro section end  */

/* project section */

#projects {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  /* background-color: red; */
}

#projects > p {
  width: 50%;
  padding: 6rem 0 10rem 17vw;
  font-size: 0.9rem;
  color: #ffffffbe;
}

#project-content {
  overflow: hidden;
  padding-top: 8rem;
}

#project-content h1 {
  display: inline-block;
  font-size: 2.5rem;
  padding: 0 0 0 17vw;
  background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#project-content p {
  padding: 5px 0 0 17vw;
  font-size: 0.9rem;
  color: #ffffffbe;
  margin-bottom: 8rem;
}

#project-content .project-card {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.5),
    rgba(15, 15, 24, 0.5)
  );
  border: solid 1px var(--border-color);
  border-radius: 4rem;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 4rem 4rem;
  width: 55%;
  height: max-content;
  margin-right: auto;
  margin-left: auto;
}

.project-card .project-card-left {
  margin-right: 6%;
  margin-left: 4%;
}

.project-card .project-card-left h3 {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff95;
}

.project-card .project-card-middle {
  position: relative;
  width: 19rem;
  height: 25rem;
  border-radius: 3rem;
  /* box-shadow: 0px 0px 50px 0.5px var(--border-color); */
  flex-shrink: 0.3;
  overflow: hidden;
}

.project-card .project-card-middle img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s;
  background-size: contain;
}

.project-card .project-card-middle img:hover {
  scale: 1.1;
}

.project-card .project-card-right {
  padding-left: 8%;
  height: 25rem;
}

.project-card .project-card-right h2 {
  font-size: 1.5rem;
  margin-top: 4rem;
  width: 100%;
}

.project-card .project-card-right a {
  display: inline-block;
  margin-top: 3rem;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-card .project-card-right a::after {
  display: block;
  content: "";
  width: 50%;
  height: 1px;
  background-color: white;
  transition: 0.5s;
}

.project-card .project-card-right a:hover::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
}

/* project section end  */

/* skill section  */

#skills-wrapper {
  width: 100vw;
  overflow: hidden;
}

#skills-wrapper h1 {
  display: inline-block;
  font-size: 2.5rem;
  padding: 0 0 0 17vw;
  background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#skills-wrapper p {
  padding: 0 0 5rem 17vw;
  font-size: 0.9rem;
  color: #ffffffbe;
}

#skills-wrapper .skills {
  margin: 3rem auto 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 3rem;
  width: 70%;
}

.skill-left-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0rem;
  border: solid var(--border-color) 2px;
  border-radius: 1.5rem;
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.5),
    rgba(15, 15, 24, 0.5)
  );
  padding: 1rem;
  overflow: hidden;
}

.skill-right-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0rem;
  border: solid var(--border-color) 2px;
  border-radius: 1.5rem;
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.5),
    rgba(15, 15, 24, 0.5)
  );
  padding: 1rem;
  overflow: hidden;
}

.skill-card-text {
  grid-column: 1/3;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  border-bottom: solid var(--border-color) 1px;
}

.skills .skill {
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
}

.skills .skill-inner-text {
  padding-left: 1rem;
  gap: 0.5rem 0;
  border-radius: 1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-inner-text h3 {
  font-weight: 500;
}

.skill-inner-text span {
  text-transform: none;
  font-size: 0.8rem;
  opacity: 0.5;
}

.skill .skill-icon {
  align-self: flex-start;
  width: 2.2rem;
}

/* skill section end  */

/* contact section  */

#bottom-bar {
  width: 100vw;
  margin-top: 7rem;
}

#bottom-bar h6 {
  font-size: 2.5rem;
  text-align: center;
  background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#bottom-bar .contact-card {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 5rem auto;
  width: 65%;
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.262),
    rgba(15, 15, 24, 0.5)
  );
  border: solid 1px var(--border-color);
  border-radius: 2rem;
  padding: 1rem;
  /* overflow: hidden; */
}

.contact-card img {
  width: 50%;
  grid-column: 1/2;
  justify-self: center;
  /* opacity: 0.2; */
}

.contact-details {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  justify-content: space-evenly;
  height: 100%;
}

.contact-details h1 {
  font-weight: normal;
  width: 100%;
}

.contact-details p {
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 0.3rem;
}

.contact-details p a {
  text-decoration: none;
}

.contact-details a {
  text-decoration: none;
  margin: 0 0.5rem;
}

.contact-details a:hover {
  cursor: pointer;
}

/* contact section end  */

#copyright {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  opacity: 0.2;
}

#copyright p {
  font-size: 0.7rem;
}

/* responsive  */

/* moved to other files  */

@media (max-width: 1200px) {
  #skills-wrapper .skills {
    margin: 3rem auto 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
    width: 80%;
  }
}
