body{
    margin: 0px;
    font-family: 'Segoe UI';
}

.container{
    background-color: #c8fbf2;
    max-width: 100vw;
    margin: 0;
    padding: 0px;
}

hr{
    padding: 0px;
    border: dotted 5px gray;
    border-bottom: 0px;
    background-color: whitesmoke;
    width: 5%;
    margin: 0 auto;
}

.navbar{
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.navbar p{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.navbar p span{
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: purple;
}

.navbar p .branding{
    display: inline-block;
    width: 170px;
    font-size: 20px;
    color: #096161;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.navbar ul li{
    margin-left: 10px;
    margin-right: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: #096161;
}

.navbar ul li a:hover{
    color: #2e9696;
}

.menu-icon{
    display: none;
    height: 25px;
    margin-right: 20px;
}

.top-container{
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100%;
    padding-left: 8%;
    padding-right: 20px;
    padding-top: 20vh;
    display: block;
}

.top-container h1{
    font-size: 4rem;
    color: rgb(36, 48, 48);
    margin-bottom: 10px;
}

.top-container h1 span{
    text-decoration: none;
    color: #096161;
}

.top-container h2{
    font-size: 2rem;
    margin: 0;
    color: rgb(36, 48, 48);
}

.top-container p{
    font-size: 1.2rem;   
}




.skills{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #eaf6f6;
}

.skills h2{
    font-size: 1.5rem;
    color: #096161;
}

.skill-row{
    
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    
}

.skill-row h3{
    font-size: 1.5rem;
    /* margin: 0 auto 0 auto; */
    color: #096161;
}

.skill-row p{
    font-size: 1.2rem;
    
}

.development{
    width: 50%; 
    max-width: 200px;
    float: left;
    margin-right: 20px;
   
    
}

.skill-description{
    display: inline-block;
    
}

.design-develop{
    font-size: 1.5rem;
    text-align: left;
    color: #2e9696;
}
.description-develop{
    text-align: left;
    color: black;
}
.reverse-engineering{
    max-width: 200px;
    width: 50%;
    float: right;
    margin-left: 0px;
    margin-right: auto;
    
}
.reverse-engineer{
    font-size: 1.5rem;
    text-align: right;
    color: #2e9696;
}
.description-reverse{
    text-align: right;
    color: black;
}








.middle-container{
    max-width: 100%;
    margin: 0px;
    padding-left: 8%;
    padding-right: 20px;
    padding-top: 5vh;
    padding-bottom: 20px;
    background-color: #eaf6f6;
}

.middle-container h3{
    color: #096161;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.middle-container h3 span{
    text-decoration: none;
    color: purple;
    font-weight: normal;
}

.middle-container p{

    font-size: 1.2rem;
}

.middle-container .project-row{
    display: block;
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    
}

.middle-container .project-cl{
    width: 90%; 
    margin-right: 20px;
}

.middle-container .project-cl h3{
    width: 90%; 
    margin-bottom: 5px;
}
.middle-container .project-cl .project-description{
    justify-content: left;
    display: inline-block;
    
}

.about-me{
    background-color: #c8fbf2;
    box-sizing: border-box;
    max-width: 100%;
    margin-top: 0px;
    padding-left: 8%;
    padding-right: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.about-me h3{
    color: #096161;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.about-me h3 span{
    text-decoration: none;
    color: purple;
    font-weight: normal;
}

.about-me .code-box{

    border: solid 2px white;
    box-shadow: 0px 0px 100px 0 rgb(0, 0, 0 ,0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: large;
    color: white;
    width: 80%;
    background-color: rgb(15, 14, 14);
    
    
}
.code-box #cmd-top-bar{
   
    font-size: 1.5rem;
    text-align: right;
    display: block;
    padding-right: 20px;

}
.about-me .code-box #cmd-top-bar:hover{
   
    font-size: 1.5rem;
    text-align: right;
    display: block;
    padding-right: 20px;
}

.code-box div{
    margin: 0px;
    padding: 2px;
}

#whitespace{
    padding: 10px;
}

.about-me .code-box div:hover{
    color: black;
    background-color: white;
}

.about-me .code-box .method{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: blue;
    background-color: transparent;
}
.about-me .code-box .var{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: purple;
    background-color: transparent;
}
.about-me .code-box span{
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: green;
    margin-top: 3px;
    margin-bottom: 3px;
}
.about-me div .dot{
    display: inline-block;
    color: gray;
}

.contact{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #eaf6f6;
}
.contact h2{
    padding-top: 30px;
}
.btn{
    display: inline-block;
    background-color: #096161;
    margin-top: 10px;
    text-decoration: solid;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
}
.bottom-container{
    text-align: center;
    margin: 0px;
    padding: 10px;
    height: 100px;
    background-color: #c8fbf2;
}


.contact h2{
    font-size: 2rem;
    margin: 0;
    color: #096161
}

.link{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    color: #096161;
    text-decoration: solid;
}


.footer-paragraph{
    font-size: 0.8rem;
}




@media screen and (max-width:995px) {

   

}

@media screen and (max-width:768px) {
   

    .about-me div .dot{
        display: none;
        color: gray;
    }
    
    .about-me div span{
        max-lines: 1;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .navbar nav{
        margin-top: 70px;
        position: absolute;
        width: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        
    }

    .about-me .code-box{
        border: solid 2px white;
        border-radius: 10px;
        padding-left: 10px;
        box-sizing: border-box;
        margin-top: 5vh;
        font-family: monospace;
        font-size: large;
        color: white;
        width: 100%;
        background-color: black;
        
    }
    
    
  
    

}


