@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Montserrat&family=Ubuntu&display=swap');

:root {
    --main-color-dark: #096161;
    --main-color-medium: #2e9696;
    --main-color-light: #c8fbf2;
    --main-background: #1d1d1d;
}

body{
    max-width: 100vw;
}

/* title section */

#title {
    max-width: 100vw;
    background-color: #1d1d1d;
    font-family: 'Montserrat';
    overflow: hidden;
}

#title .container-fluid {
    min-height: 100vh;
    padding: 0 3%;
}


/* navbar */
#title .navbar{
    position: fixed;
    min-width: 100%;
    /* background-color: var(--main-background); */
    /* padding-right: 4%; */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    margin: 2px;
    z-index: 1;

}

.navbar-brand span {
    color: var(--main-color-dark);
}

.navbar-nav {
    text-align: right;
    margin: 10px auto;
}

.navbar-nav a {
    margin: auto 5px;
}

.navbar-nav a:hover {
    color: var(--main-color-medium);
}

/* intro */

#title .row h1 {
    font-size: 4rem;
    font-weight: bolder;
    margin: 30vh 1rem 0 4rem;
    color: whitesmoke;
}

#title .row h2{
    color: whitesmoke;
    font-size: 2rem;
    margin: 1rem 4rem;
}

#title .row h1 span {
    color: var(--main-color-medium);
}


#coder-img{
    margin: 15vh 2rem 0 4rem;
    border-radius: 10px;
    width: 500px;
    max-width: 100%;
}

#title hr{
    width: 80%;
    color: var(--main-color-dark);
    margin: 0 auto;
    border-bottom: 0px;
}

/* passion secton */

#passion{
    
    background-color: var(--main-background);
    font-family: 'Montserrat';
    
}

#passion h1{
    font-size: 2rem;
    color: whitesmoke;
    padding: 7rem 0 0 7rem;
    letter-spacing: 1px;
    font-weight: bolder;
     
}

#passion span{
    color: var(--main-color-medium);
}

#passion .container-fluid{
    min-height: 100vh;
    padding: 10vh 5%;
    width: 80%;
    align-items: center;
}

#passion .container-fluid .row{
    margin-bottom: 10vh;
}

#passion .container-fluid h3{
    color: var(--main-color-medium);
    display: inline-block;
    margin-bottom: 2vh;
    font-weight: 500;
}

#passion .container-fluid p{
    color: whitesmoke;
    display: inline-block;
}


#img-web-development{
    display: block;
    box-sizing: border-box;
    /* box-shadow: 10px 10px 19px #262a2e, -10px -10px 19px #262a2e; */
    /* border-radius: 10px; */
    width: 50%;
    max-width: 100%;
}

#img-reverse-engineer{
    display: block;
    /* box-shadow: 10px 10px 19px #262a2e, -10px -10px 19px #262a2e; */
    /* border-radius: 10px; */
    box-sizing: border-box;
    width: 50%;
    max-width: 100%;
}

#passion hr{
    width: 70%;
    color: var(--main-color-dark);
    border-width: 1px;
    margin: 0 auto;
}

/* about section */
/* 
#about{
    min-height: 100vh;
    background-color: var(--main-background);
}

#about .container-fluid{
    padding: 10vh 3%;
    align-items: center;
}

#about h1{
    margin: auto 4rem;
    font-size: 2rem;
    color: whitesmoke;
}

#about span{
    color: var(--main-color-medium);
} */

#contact{
    background-color: var(--main-background);
    font-family: 'Montserrat';
}

#contact h1{
    padding-top: 10vh;
    color: whitesmoke;
}

#contact .container-fluid{
    padding: 5vh 15%;
}

#contact .row{
    margin-top: 5vh;
    padding: 2vh;
    margin-bottom: 5vh;
    box-shadow: 0px 0px 3px #262a2e, -0px -0px 3px #262a2e;
    border-radius: 10px;
}

#contact img{
    width: 50%;
    max-width: 100%;
}



#contact .details{
    box-sizing: border-box;
}

#contact h2{
    color: whitesmoke;
    margin: 1rem 0 1rem 0;
}

#contact p{
    color: whitesmoke;
}

#contact a{
    text-decoration: none;
    color: whitesmoke;
    
}

#contact a:hover{
   color: var(--main-color-dark);
}

i{
    color: whitesmoke;
    margin: 10px;
}

i:hover{
    color: var(--main-color-dark);
}





@media (max-width:1100px) {

    #coder-img{
        margin: 20vh 2rem 0 4rem;
        width: 400px;
        max-width: 100%;
    }

    #img-web-development{
        display: block;
        box-sizing: border-box;
        width: 70%;
        max-width: 100%;
    }
    
    #img-reverse-engineer{
        display: block;
        box-sizing: border-box;
        width: 70%;
        max-width: 100%;
    }
    


}

@media (max-width:990px) {

    #title .container-fluid {
        min-height: 100vh;
        padding: 0 1% 10vh 1%;
    }

    #coder-img{
        position: relative;
        margin: 10vh auto;
        width: 100%;
        max-width: 100%;
    }

    #title .row h1 {
        font-size: 3rem;
        font-weight: bolder;
        margin: 0 1rem 0 4rem;
        color: whitesmoke;
    }

    #passion{
    
        text-align: center;
        
    }

    #passion h1{
        font-size: 2rem;
        color: whitesmoke;
        padding: 7rem 0 0 0;
        letter-spacing: 1px;
        font-weight: bolder;
         
    }


    #passion .container-fluid{
        min-height: 100vh;
        padding: 5vh 5%;
        width: 80%;
        align-items: center;
    }
    

    #img-web-development{
        display: block;
        box-sizing: border-box;
        padding-bottom: 10vh;
        width: 100%;
        max-width: 100%;
    }

    
    #img-reverse-engineer{
        display: block;
        box-sizing: border-box;
        padding-bottom: 10vh;
        width: 100%;
        max-width: 100%;
    }

    #contact .row{
        margin-top: 0;
    }
  

}
